iframe{
    position: absolute;
    bottom: 0;
    right: 0;
}

#navBg{
    position: absolute;
    width: 100%;
    height: 10%;
    background: crimson;
    z-index: 1;
    color: antiquewhite;
    top: 0;
    left: 0;
}

h2{
    text-align: center;
}

#selects
{
    display: inline-flex;
    width: 100%;
    font-size: 10px;
}

#BusSelect, #SelectArret{
    width: 80%;
    display: block;
    margin: auto;
    height: 50%;
    font-size: 12px;
}

h3{
    margin-bottom: 5px;
    text-align: center;
}


#map{
    height: 70%;
    width: 100%;
    position: absolute;
    top: 10%;
}

#SelectionStation
{
    width: 50%;
}

#StationsLigneX
{
    font-size: 10px;
    width: 50%; 
} 

#horaires
{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    background: crimson;
    z-index: 1;
    width: 100%;
    color: antiquewhite;
    text-align: center;
    font-family: sans-serif;
    font-size: 80%;
    height: 20%;
}

#recentrerMark
{
    z-index: 1;
}
